*.aux

*.bbl

*.blg

/paper/**/*.log

*.pdf

*.out
*.tps
*.backup
*.bak
$TEXMFCACHE
/run.sh

ioCache/


*.tsq
*.tsr

/test-cases/renew.sh

implementation/ConRepair/out/*
implementation/ConRepair/target/*

workspace.xml
